body{
    background-color: rgba(0, 0, 0, 0.397);
}

.text-center{
    text-align: center;
}

@media (orientation: landscape){
    .sign{
        width: 20%;
    }
}

@media (orientation: portrait){
    .sign{
        width: 80%;
    }
}